<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shuai">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 兼容7.0调用公共文件安全访问处理 -->
    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.shuai.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/desktop"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity android:name=".activity.home.MainActivity" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestActivity" />
        <service android:name=".app.InitializeAppConfigService"/>
        <!-- 野狗通讯 -->
        <!--<receiver android:name="com.wilddog.client.receiver.WilddogAuthCastReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.wilddog.wilddogauth.signinsuccess" />-->
                <!--<action android:name="com.wilddog.wilddogauth.signoutsuccess" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 设置高德key &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="com.amap.api.v2.apikey"-->
            <!--android:value="高德key" />-->
        <!--&lt;!&ndash; 定位需要的服务 &ndash;&gt;-->
        <!--<service android:name="com.amap.api.location.APSService" />-->

        <!--<activity android:name=".ConverationActivity" />-->
        <activity android:name=".face.FacePPActivity" />
        <activity android:name=".TestYeGouActivity"></activity>
        <activity android:name=".activity.home.MainActivitys"
            android:launchMode="standard"/>


        <activity
            android:name=".face.FaceppActionActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".face.OpenglActivity"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>